@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Orbitron;
  src:
    url('~/assets/fonts/Orbitron-VariableFont_wght.woff2') format('woff2'),
    url('~/assets/fonts/Orbitron-VariableFont_wght.woff') format('woff');
  /* weight axis (400-900) */
}

@font-face {
  font-family: Lato;
  src:
    url('~/assets/fonts/Lato-Regular.woff2') format('woff2'),
    url('~/assets/fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src:
    url('~/assets/fonts/Lato-Bold.woff2') format('woff2'),
    url('~/assets/fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

:root {
  font-family: Lato, Arial, Helvetica, system-ui, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-variation-settings: 'wght' 400;
  overflow-x: clip;
  touch-action: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  .title {
    font-family: Orbitron, Tahoma, system-ui, sans-serif;
    font-weight: 600;
    font-variation-settings: 'wght' 600;
  }

  input[type='search']::-webkit-search-cancel-button {
    appearance: none;
  }
  input[type='search']::-ms-clear {
    appearance: none;
  }
}

@layer utilities {
  .hidden-visually {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    height: 1px;
    width: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }
}
