{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [],
  "rules": {
    "vue/multi-word-component-names": 0,
    "no-console": [
      "warn",
      {
        "allow": [
          "info",
          "warn",
          "error"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "components/**/*.vue"
      ],
      "rules": {
        "vue/multi-word-component-names": [
          "error"
        ]
      }
    }
  ]
}