@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, Helvetica, system-ui, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  touch-action: none;
  overflow: clip;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  .title {
    font-family: Tahoma, system-ui, sans-serif;
  }
  .text {
    font-family: Arial, Helvetica, system-ui, sans-serif;
  }
  /*
  blockquote.quote:before {
    content: "\201C";
  }
  q {
    quotes:  "\2018" "\2019" "\201C" "\201D"
  }
  */
  .blue-highlight:focus-visible {
    /*outline-color: #0891b2; /* cyan-600 */
  }
  :focus-visible {
    /*outline-color: #f59e0b; /* amber-500 */
  }

  .view-width {
    width: 100vw;
  }
  .view-height {
    height: 100vh;
  }
  @supports(height: 100dvh) {
    .view-width {
      width: 100dvw;
    }
    .view-height {
      height: 100dvh;
    }
  }
}

@layer utilities {  

}
